<% provide(:title, "New Article") %>

<!DOCTYPE html>

<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
    </head>
    
    <body>
        <h1>New Article</h1>
        
        <div class="row"></div>
        <div class="myjumbotron">
        
        <%= render 'form' %>
        
        <%= link_to 'Back', articles_path %>

        </div>        
    </body>
</html>