<!DOCTYPE html>
<html>
    <head>
        <title>Zen Blog</title>
        <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>
       
        <div class="container">
            
            
            <h1>Engaging the Spirit Blog</h1>

            <p>Music, Healing, Love and other mischievous celebrations of the Great Spirit.</p>

            <%= link_to "Membership Sign up", '#', class: "btn btn-lg btn-primary" %> <br>
            
            <!----image personalblog.png--->
            
    
        </div>
        

    </body>
</html>