<% provide(:title, "Help") %>
<!DOCTYPE html>

<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
        
        <h1>Help</h1>
        
        <p>Welcome to the help page of the zen blog.</p>
        
        <ul>
            <li>New Users</li>
            <li>Current Users</li>
            <li>Questions</li>
            <li>Concerns</li>
            </ul>
    </body>
</html>