<!--displays the footer for the application layout. --> 

    <footer>
        <div class="bloglinks">
        <p>Design by <a href="http://www.gx2research.com/" target="_blank">geek girl</a> gx2research &copy;2015</p>
        </div>
    </footer>